<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:1.8">
    <div style="background-image: url('https://res.cloudinary.com/urban-solutions/image/upload/v1653978145/logo_qijy6b.png');background-repeat: no-repeat;background-position:center;margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee;margin-bottom:100px;">
            <a href="" style=";font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">URBANIZE</a>
        </div>
        <p style="font-size:1.3em">Hi, {{ user }}</p>
        <p>Thank you for choosing URBANIZE. Use the following LINK to complete your Verification procedures. LINK is
            valid for 5 minutes.</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
            {{ link }}</h2>
        <p style="font-size:0.9em;">Regards,<br/>URBANIZE</p>
        <hr style="border:none;border-top:1px solid #eee"/>
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>URBANIZE Inc</p>
            <p>PC#91, LA NET S/W</p>
            <p>Surat</p>
        </div>
    </div>
</div>